[Unit]
Description=DMZ Package Consumer Service
After=network.target

[Service]
User=alisa-maloku
Group=alisa-maloku
WorkingDirectory=/home/alisa-maloku/consumer
ExecStart=/usr/bin/php /home/alisa-maloku/consumer/dmz_package_consumer.php
Restart=always

[Install]
WantedBy=multi-user.target
