[Unit]
Description=Favorites Consumer Service
After=network.target

[Service]
Type=simple
User=alisa-maloku
Group=alisa-maloku
WorkingDirectory=/home/alisa-maloku/Documents/GitHub/IT-490/dmz
ExecStart=/usr/bin/php /home/alisa-maloku/Documents/GitHub/IT-490/dmz/favorites_consumer.php
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

