[Unit]
Description=Stanley 2FA Consumer Service
After=network.target

[Service]
Type=simple
User=stanley
Group=stanley
WorkingDirectory=/home/stanley/Documents/GitHub/IT-490/backend/consumers
ExecStart=/usr/bin/php 2FA_consumer.php
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
